
<h2>Authentication</h2>



<div>
    Device Code: <strong> @ViewBag.info</strong>
</div>

<div>
    Verification URL: <a href="@ViewBag.url" target="_blank">@ViewBag.VerificationUrl</a>
</div>

<p>Please follow the instructions above to sign in on another device.</p>
